*{box-sizing: border-box;}
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
    height: 100%;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}
.bar {
    border : 1px solid black;
    height: 20px;
    width: 80%;
    position : relative;
    margin: 0 auto;
  }
  
   .barFiller {
    animation: health 3s linear infinite;
    height: 100%;
    width: 99%;
    background : red;
    position : absolute;
    bottom : 0;
  }
  
  .barText {
    position : absolute;
    left : 50%;
    top : 50%;
    transform : translate(-50%, -50%) ;
    color: rgb(0, 255, 255); 
    mix-blend-mode: difference;
  }
  .fighter-info{
    cursor: pointer;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: #414b52;
    margin: 10px;
    color: #fff;
    border-radius: 3px;
  }
  .fight{
      position: absolute;
      top: 15%;
      left: 50%;
    cursor: pointer;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: red;
    margin: 10px;
    color: #fff;
    border-radius: 3px;
  }

  /* Стили для подложки */

.overlay {
   
    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
 }
 
 
 /* Стили для модальных окон */
 
 .modal {
    
    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;
    
    
    /*  Установаем ширину окна  */
    width: 100%;
    max-width: 500px;
    
    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30; /* Должен быть выше чем у подложки*/
    
    /*  Побочные стили   */
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
 }
 
 
 /* Стили для активных классов подложки и окна */
 
 .modal.active,
 .overlay.active{
    opacity: 1;
    visibility: visible;
 }
 
 
 /* Стили для кнопки закрытия */
 
 .modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
 }
 .modal__title {
     display: flex;
     flex-direction: column;
 }
 
 .form-container{
     display:flex;
     flex-direction:column;
 }
 .form-health,.form-attack,.form-defense{
     margin-bottom: 10px;
 }

 .delete-fighter {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    background-color: #FF0400;
    margin: 10px;
    color: #fff;
    border-radius: 3px;
 }
 
 .reset-data{
     margin-bottom: 20px;
 }
 
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button , .reset-data {
    display: block;
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 0;
    right: 28px;
    width: 280px;
  }
  .reset-data{
    top: 0;
    right: 350px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    top: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .add-form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .add-form-container input[type=text], .add-form-container input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .add-form-container input[type=text]:focus, .add-form-container input[type=number]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .add-form-container .btn, .add-fighter {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 280px;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .add-form-container .cancel {
    background-color: red;
  }
  
  
  /* Add some hover effects to buttons */
  .add-form-container .btn:hover, .open-button:hover, .add-fighter:hover, .reset-data:hover {
    opacity: 1;
  }